<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:section name="main">
        <f:form action="create" method="POST" object="{note}" name="note" id="tx-beusernotes-form-create">
            <div class="form-group">
                <label for="tx-beusernotes-new-category"><f:translate key="action.new.note.category" /></label>
                <f:form.select property="category" id="tx-beusernotes-new-category" options="{noteCategories}" optionLabelField="label" optionValueField="value" />
            </div>
            <div class="form-group">
                <label for="tx-beusernotes-new-subject"><f:translate key="action.new.note.subject" /></label>
                <f:form.textfield property="subject" id="tx-beusernotes-new-subject"/>
            </div>
            <div class="form-group">
                <label for="tx-beusernotes-new-message"><f:translate key="action.new.note.message" /></label>
                <f:form.textarea property="message" id="tx-beusernotes-new-message"/>
            </div>
            <div class="form-group">
                <label for="tx-beusernotes-new-personal"><f:translate key="action.new.note.personal" /></label>
                <f:form.checkbox property="personal" id="tx-beusernotes-new-personal" value="0" />
            </div>
            <div class="form-group">
                <label for="tx-beusernotes-new-beuser"><f:translate key="action.new.note.beuser" /></label>
                <f:form.select property="beUser" id="tx-beusernotes-new-beuser" options="{backendUsers}" prependOptionLabel="" optionLabelField="username" optionValueField="uid" />
            </div>
        </f:form>
    </f:section>
</html>